.app-container {
  min-height: 100vh;
  /* width: 100%; */
}

.header,
.info-bar {
  background-color: darkgray;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.info-bar {
  background-color: darkseagreen;
  margin-bottom: 1rem;
}

.header span {
  color: blue;
}

.button-container {
  display: flex;
  align-items: center;
}

.go-button {
  margin: 1rem;
  color: black;
}

.content {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.react-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
