.app-container {
  min-height: 100vh;
  /* width: 100%; */
}

.header {
  background-color: darkgray;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.header span {
  color: blue;
}

.button-container {
  display: flex;
}

.go-button {
  margin: 1rem;
  color: black;
}

.content {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
